apiVersion: v1
kind: ConfigMap
metadata:
  name: esendit-frontend-nginx
data:
  default.conf: |
    server {
      listen 80;
      server_name _;
      root /usr/share/nginx/html;
      index index.html;

      # SPA deep links
      location / {
        try_files $uri $uri/ /index.html;
      }
    }